.github-corner {
  display: block;
  position: $POSITION;
  top: 0;
  left: $LEFT;
  right: $RIGHT;
  z-index: $ZINDEX;
}

.github-corner svg {
  display: block;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
   transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
      animation: none;
  }

  .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
  }
}
